<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" >
</head>
<body>
<%- include('header') %>

    <main>
        <h1><%= title %></h1>
        <p class="main-text">Check our news categories</p>
        <div class="categories">
            <a href="/news" class="category">See all news</a>
            <% categories.forEach(function(category) { %>
                <a href="/categories/<%= category.id %>" class="category"><%= category.title %></a>
            <% }); %>
        </div>
    </main>

<%- include('footer') %>
</body>
</html>
