<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" >
</head>
<body>
<%- include('header') %>
<main class="container my-4">
    <h1 class="mb-4"><%= title %> News</h1>
    <div class="row">
        <% news.forEach(news => { %>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= news.title %></h5>
                        <p class="card-text"><%= news.content %></p>
                        <a href="/news/<%= news.id %>" class="btn btn-primary">Read</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</main>

<%- include('footer') %>
</body>
</html>

